@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'),url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.Rkglyphicon-asterisk:before {
  content: "\2a";
}

.Rkglyphicon-plus:before {
  content: "\2b";
}

.Rkglyphicon-euro:before {
  content: "\20ac";
}

.Rkglyphicon-minus:before {
  content: "\2212";
}

.Rkglyphicon-cloud:before {
  content: "\2601";
}

.Rkglyphicon-envelope:before {
  content: "\2709";
}

.Rkglyphicon-pencil:before {
  content: "\270f";
}

.Rkglyphicon-glass:before {
  content: "\e001";
}

.Rkglyphicon-music:before {
  content: "\e002";
}

.Rkglyphicon-search:before {
  content: "\e003";
}



.Rkglyphicon-heart:before {
  content: "\e005";
}

.Rkglyphicon-star:before {
  content: "\e006";
}

.Rkglyphicon-star-empty:before {
  content: "\e007";
}

.Rkglyphicon-user:before {
  content: "\e008";
}

.Rkglyphicon-film:before {
  content: "\e009";
}

.Rkglyphicon-th-large:before {
  content: "\e010";
}

.Rkglyphicon-th:before {
  content: "\e011";
}

.Rkglyphicon-th-list:before {
  content: "\e012";
}

.Rkglyphicon-ok:before {
  content: "\e013";
}

.Rkglyphicon-remove:before {
  content: "\e014";
}

.Rkglyphicon-zoom-in:before {
  content: "\e015";
}

.Rkglyphicon-zoom-out:before {
  content: "\e016";
}

.Rkglyphicon-off:before {
  content: "\e017";
}

.Rkglyphicon-signal:before {
  content: "\e018";
}

.Rkglyphicon-cog:before {
  content: "\e019";
}

.Rkglyphicon-trash:before {
  content: "\e020";
}

.Rkglyphicon-home:before {
  content: "\e021";
}

.Rkglyphicon-file:before {
  content: "\e022";
}

.Rkglyphicon-time:before {
  content: "\e023";
}

.Rkglyphicon-road:before {
  content: "\e024";
}

.Rkglyphicon-download-alt:before {
  content: "\e025";
}

.Rkglyphicon-download:before {
  content: "\e026";
}

.Rkglyphicon-upload:before {
  content: "\e027";
}

.Rkglyphicon-inbox:before {
  content: "\e028";
}

.Rkglyphicon-play-circle:before {
  content: "\e029";
}

.Rkglyphicon-repeat:before {
  content: "\e030";
}

.Rkglyphicon-refresh:before {
  content: "\e031";
}

.Rkglyphicon-list-alt:before {
  content: "\e032";
}

.Rkglyphicon-flag:before {
  content: "\e034";
}

.Rkglyphicon-headphones:before {
  content: "\e035";
}

.Rkglyphicon-volume-off:before {
  content: "\e036";
}

.Rkglyphicon-volume-down:before {
  content: "\e037";
}

.Rkglyphicon-volume-up:before {
  content: "\e038";
}

.Rkglyphicon-qrcode:before {
  content: "\e039";
}

.Rkglyphicon-barcode:before {
  content: "\e040";
}

.Rkglyphicon-tag:before {
  content: "\e041";
}

.Rkglyphicon-tags:before {
  content: "\e042";
}

.Rkglyphicon-book:before {
  content: "\e043";
}

.Rkglyphicon-print:before {
  content: "\e045";
}

.Rkglyphicon-font:before {
  content: "\e047";
}

.Rkglyphicon-bold:before {
  content: "\e048";
}

.Rkglyphicon-italic:before {
  content: "\e049";
}

.Rkglyphicon-text-height:before {
  content: "\e050";
}

.Rkglyphicon-text-width:before {
  content: "\e051";
}

.Rkglyphicon-align-left:before {
  content: "\e052";
}

.Rkglyphicon-align-center:before {
  content: "\e053";
}

.Rkglyphicon-align-right:before {
  content: "\e054";
}

.Rkglyphicon-align-justify:before {
  content: "\e055";
}

.Rkglyphicon-list:before {
  content: "\e056";
}

.Rkglyphicon-indent-left:before {
  content: "\e057";
}

.Rkglyphicon-indent-right:before {
  content: "\e058";
}

.Rkglyphicon-facetime-video:before {
  content: "\e059";
}

.Rkglyphicon-picture:before {
  content: "\e060";
}

.Rkglyphicon-map-marker:before {
  content: "\e062";
}

.Rkglyphicon-adjust:before {
  content: "\e063";
}

.Rkglyphicon-tint:before {
  content: "\e064";
}

.Rkglyphicon-edit:before {
  content: "\e065";
}

.Rkglyphicon-share:before {
  content: "\e066";
}

.Rkglyphicon-check:before {
  content: "\e067";
}

.Rkglyphicon-move:before {
  content: "\e068";
}

.Rkglyphicon-step-backward:before {
  content: "\e069";
}

.Rkglyphicon-fast-backward:before {
  content: "\e070";
}

.Rkglyphicon-backward:before {
  content: "\e071";
}

.Rkglyphicon-play:before {
  content: "\e072";
}

.Rkglyphicon-pause:before {
  content: "\e073";
}

.Rkglyphicon-stop:before {
  content: "\e074";
}

.Rkglyphicon-forward:before {
  content: "\e075";
}

.Rkglyphicon-fast-forward:before {
  content: "\e076";
}

.Rkglyphicon-step-forward:before {
  content: "\e077";
}

.Rkglyphicon-eject:before {
  content: "\e078";
}

.Rkglyphicon-chevron-left:before {
  content: "\e079";
}

.Rkglyphicon-chevron-right:before {
  content: "\e080";
}

.Rkglyphicon-plus-sign:before {
  content: "\e081";
}

.Rkglyphicon-minus-sign:before {
  content: "\e082";
}

.Rkglyphicon-remove-sign:before {
  content: "\e083";
}

.Rkglyphicon-ok-sign:before {
  content: "\e084";
}

.Rkglyphicon-question-sign:before {
  content: "\e085";
}

.Rkglyphicon-info-sign:before {
  content: "\e086";
}

.Rkglyphicon-screenshot:before {
  content: "\e087";
}

.Rkglyphicon-remove-circle:before {
  content: "\e088";
}

.Rkglyphicon-ok-circle:before {
  content: "\e089";
}

.Rkglyphicon-ban-circle:before {
  content: "\e090";
}

.Rkglyphicon-arrow-left:before {
  content: "\e091";
}

.Rkglyphicon-arrow-right:before {
  content: "\e092";
}

.Rkglyphicon-arrow-up:before {
  content: "\e093";
}

.Rkglyphicon-arrow-down:before {
  content: "\e094";
}

.Rkglyphicon-share-alt:before {
  content: "\e095";
}

.Rkglyphicon-resize-full:before {
  content: "\e096";
}

.Rkglyphicon-resize-small:before {
  content: "\e097";
}

.Rkglyphicon-exclamation-sign:before {
  content: "\e101";
}

.Rkglyphicon-gift:before {
  content: "\e102";
}

.Rkglyphicon-leaf:before {
  content: "\e103";
}

.Rkglyphicon-eye-open:before {
  content: "\e105";
}

.Rkglyphicon-eye-close:before {
  content: "\e106";
}

.Rkglyphicon-warning-sign:before {
  content: "\e107";
}

.Rkglyphicon-plane:before {
  content: "\e108";
}

.Rkglyphicon-random:before {
  content: "\e110";
}

.Rkglyphicon-comment:before {
  content: "\e111";
}

.Rkglyphicon-magnet:before {
  content: "\e112";
}

.Rkglyphicon-chevron-up:before {
  content: "\e113";
}

.Rkglyphicon-chevron-down:before {
  content: "\e114";
}

.Rkglyphicon-retweet:before {
  content: "\e115";
}

.Rkglyphicon-shopping-cart:before {
  content: "\e116";
}

.Rkglyphicon-folder-close:before {
  content: "\e117";
}

.Rkglyphicon-folder-open:before {
  content: "\e118";
}

.Rkglyphicon-resize-vertical:before {
  content: "\e119";
}

.Rkglyphicon-resize-horizontal:before {
  content: "\e120";
}

.Rkglyphicon-hdd:before {
  content: "\e121";
}

.Rkglyphicon-bullhorn:before {
  content: "\e122";
}

.Rkglyphicon-certificate:before {
  content: "\e124";
}

.Rkglyphicon-thumbs-up:before {
  content: "\e125";
}

.Rkglyphicon-thumbs-down:before {
  content: "\e126";
}

.Rkglyphicon-hand-right:before {
  content: "\e127";
}

.Rkglyphicon-hand-left:before {
  content: "\e128";
}

.Rkglyphicon-hand-up:before {
  content: "\e129";
}

.Rkglyphicon-hand-down:before {
  content: "\e130";
}

.Rkglyphicon-circle-arrow-right:before {
  content: "\e131";
}

.Rkglyphicon-circle-arrow-left:before {
  content: "\e132";
}

.Rkglyphicon-circle-arrow-up:before {
  content: "\e133";
}

.Rkglyphicon-circle-arrow-down:before {
  content: "\e134";
}

.Rkglyphicon-globe:before {
  content: "\e135";
}

.Rkglyphicon-tasks:before {
  content: "\e137";
}

.Rkglyphicon-filter:before {
  content: "\e138";
}

.Rkglyphicon-fullscreen:before {
  content: "\e140";
}

.Rkglyphicon-dashboard:before {
  content: "\e141";
}

.Rkglyphicon-heart-empty:before {
  content: "\e143";
}

.Rkglyphicon-link:before {
  content: "\e144";
}

.Rkglyphicon-phone:before {
  content: "\e145";
}

.Rkglyphicon-usd:before {
  content: "\e148";
}

.Rkglyphicon-gbp:before {
  content: "\e149";
}

.Rkglyphicon-sort:before {
  content: "\e150";
}

.Rkglyphicon-sort-by-alphabet:before {
  content: "\e151";
}

.Rkglyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}

.Rkglyphicon-sort-by-order:before {
  content: "\e153";
}

.Rkglyphicon-sort-by-order-alt:before {
  content: "\e154";
}

.Rkglyphicon-sort-by-attributes:before {
  content: "\e155";
}

.Rkglyphicon-menu-down:before {
    content: "\e259";
}
.Rkglyphicon-menu-up:before {
    content: "\e260";
}

.Rkglyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}

.Rkglyphicon-unchecked:before {
  content: "\e157";
}

.Rkglyphicon-expand:before {
  content: "\e158";
}

.Rkglyphicon-collapse-down:before {
  content: "\e159";
}

.Rkglyphicon-collapse-up:before {
  content: "\e160";
}

.Rkglyphicon-log-in:before {
  content: "\e161";
}

.Rkglyphicon-flash:before {
  content: "\e162";
}

.Rkglyphicon-log-out:before {
  content: "\e163";
}

.Rkglyphicon-new-window:before {
  content: "\e164";
}

.Rkglyphicon-record:before {
  content: "\e165";
}

.Rkglyphicon-save:before {
  content: "\e166";
}

.Rkglyphicon-open:before {
  content: "\e167";
}

.Rkglyphicon-saved:before {
  content: "\e168";
}

.Rkglyphicon-import:before {
  content: "\e169";
}

.Rkglyphicon-export:before {
  content: "\e170";
}

.Rkglyphicon-send:before {
  content: "\e171";
}

.Rkglyphicon-floppy-disk:before {
  content: "\e172";
}

.Rkglyphicon-floppy-saved:before {
  content: "\e173";
}

.Rkglyphicon-floppy-remove:before {
  content: "\e174";
}

.Rkglyphicon-floppy-save:before {
  content: "\e175";
}

.Rkglyphicon-floppy-open:before {
  content: "\e176";
}

.Rkglyphicon-credit-card:before {
  content: "\e177";
}

.Rkglyphicon-transfer:before {
  content: "\e178";
}

.Rkglyphicon-cutlery:before {
  content: "\e179";
}

.Rkglyphicon-header:before {
  content: "\e180";
}

.Rkglyphicon-compressed:before {
  content: "\e181";
}

.Rkglyphicon-earphone:before {
  content: "\e182";
}

.Rkglyphicon-phone-alt:before {
  content: "\e183";
}

.Rkglyphicon-tower:before {
  content: "\e184";
}

.Rkglyphicon-stats:before {
  content: "\e185";
}

.Rkglyphicon-sd-video:before {
  content: "\e186";
}

.Rkglyphicon-hd-video:before {
  content: "\e187";
}

.Rkglyphicon-subtitles:before {
  content: "\e188";
}

.Rkglyphicon-sound-stereo:before {
  content: "\e189";
}

.Rkglyphicon-sound-dolby:before {
  content: "\e190";
}

.Rkglyphicon-sound-5-1:before {
  content: "\e191";
}

.Rkglyphicon-sound-6-1:before {
  content: "\e192";
}

.Rkglyphicon-sound-7-1:before {
  content: "\e193";
}

.Rkglyphicon-copyright-mark:before {
  content: "\e194";
}

.Rkglyphicon-registration-mark:before {
  content: "\e195";
}

.Rkglyphicon-cloud-download:before {
  content: "\e197";
}

.Rkglyphicon-cloud-upload:before {
  content: "\e198";
}

.Rkglyphicon-tree-conifer:before {
  content: "\e199";
}

.Rkglyphicon-tree-deciduous:before {
  content: "\e200";
}

.Rkglyphicon-briefcase:before {
  content: "\1f4bc";
}

.Rkglyphicon-calendar:before {
  content: "\1f4c5";
}

.Rkglyphicon-pushpin:before {
  content: "\1f4cc";
}

.Rkglyphicon-paperclip:before {
  content: "\1f4ce";
}

.Rkglyphicon-camera:before {
  content: "\1f4f7";
}

.Rkglyphicon-lock:before {
  content: "\1f512";
}

.Rkglyphicon-bell:before {
  content: "\1f514";
}

.Rkglyphicon-bookmark:before {
  content: "\1f516";
}

.Rkglyphicon-fire:before {
  content: "\1f525";
}

.Rkglyphicon-wrench:before {
  content: "\1f527";
}
