@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>





<p>Use this area to provide additional information.</p>

<div class="row">
    <div class="col-md-12">
        <iframe width="1140"
                height="680"
                powerbi-settings-nav-content-pane-enabled="false"
                src="https://app.powerbi.com/view?r=eyJrIjoiM2U5YmE4ZmItNmIwZS00MmZkLTgwNjUtNzljMmFiOTVjMzFlIiwidCI6ImY1ODMzZGZjLTBlMjAtNDQxOC1iZmJlLTc1NWZiM2YyOGE0YSIsImMiOjh9"
                frameborder="0"
                navcontentpaneenabled="false"
                allowfullscreen="true"></iframe>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <iframe width="1140"
                height="680"
                src="    https://app.powerbi.com/reportEmbed?reportId=13d6828d-8217-4864-b09d-223fd50d453c&autoAuth=true&ctid=f5833dfc-0e20-4418-bfbe-755fb3f28a4a&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWV1cm9wZS1ub3J0aC1iLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9"
                frameborder="0"
                powerbi-settings-nav-content-pane-enabled="false"
                allowfullscreen="true"></iframe>
    </div>


</div>








