.CP_Pink { background-color: #FFC0CB; }

.CP_LightPink { background-color:#FFB6C1;}
.CP_HotPink { background-color:#FF69B4;}
.CP_DeepPink { background-color:#FF1493;}
.CP_PaleVioletRed { background-color:#DB7093;}
.CP_MediumVioletRed { background-color:#C71585;}
.CP_Lavender { background-color:#E6E6FA;}
.CP_Thistle { background-color:#D8BFD8;}
.CP_Plum { background-color:#DDA0DD;}
.CP_Orchid { background-color:#DA70D6;}
.CP_Violet { background-color:#EE82EE;}
.CP_Fuchsia { background-color:#FF00FF;}
.CP_Magenta { background-color:#FF00FF;}
.CP_MediumOrchid { background-color:#BA55D3;}
.CP_DarkOrchid { background-color:#9932CC;}
.CP_DarkViolet { background-color:#9400D3;}
.CP_BlueViolet { background-color:#8A2BE2;}
.CP_DarkMagenta { background-color:#8B008B;}
.CP_Purple { background-color:#800080;}
.CP_MediumPurple { background-color:#9370DB;}
.CP_MediumSlateBlue { background-color:#7B68EE;}
.CP_SlateBlue { background-color:#6A5ACD;}
.CP_DarkSlateBlue { background-color:#483D8B;}
.CP_RebeccaPurple { background-color:#663399;}
.CP_Indigo  { background-color:#4B0082;}
.CP_LightSalmon { background-color:#FFA07A;}
.CP_Salmon { background-color:#FA8072;}
.CP_DarkSalmon { background-color:#E9967A;}
.CP_LightCoral { background-color:#F08080;}
.CP_IndianRed  { background-color:#CD5C5C;}
.CP_Crimson { background-color:#DC143C;}
.CP_Red { background-color:#FF0000;}
.CP_FireBrick { background-color:#B22222;}
.CP_DarkRed { background-color:#8B0000;}
.CP_Orange { background-color:#FFA500;}
.CP_DarkOrange { background-color:#FF8C00;}
.CP_Coral { background-color:#FF7F50;}
.CP_Tomato { background-color:#FF6347;}
.CP_OrangeRed { background-color:#FF4500;}
.CP_Gold { background-color:#FFD700;}
.CP_Yellow { background-color:#FFFF00;}
.CP_LightYellow { background-color:#FFFFE0;}
.CP_LemonChiffon { background-color:#FFFACD;}
.CP_LightGoldenRodYellow { background-color:#FAFAD2;}
.CP_PapayaWhip { background-color:#FFEFD5;}
.CP_Moccasin { background-color:#FFE4B5;}
.CP_PeachPuff { background-color:#FFDAB9;}
.CP_PaleGoldenRod { background-color:#EEE8AA;}
.CP_Khaki { background-color:#F0E68C;}
.CP_DarkKhaki { background-color:#BDB76B;}
.CP_GreenYellow { background-color:#ADFF2F;}
.CP_Chartreuse { background-color:#7FFF00;}
.CP_LawnGreen { background-color:#7CFC00;}
.CP_Lime { background-color:#00FF00;}
.CP_LimeGreen { background-color:#32CD32;}
.CP_PaleGreen { background-color:#98FB98;}
.CP_LightGreen { background-color:#90EE90;}
.CP_MediumSpringGreen { background-color:#00FA9A;}
.CP_SpringGreen { background-color:#00FF7F;}
.CP_MediumSeaGreen { background-color:#3CB371;}
.CP_SeaGreen { background-color:#2E8B57;}
.CP_ForestGreen { background-color:#228B22;}
.CP_Green { background-color:#008000;}
.CP_DarkGreen { background-color:#006400;}
.CP_YellowGreen { background-color:#9ACD32;}
.CP_OliveDrab { background-color:#6B8E23;}
.CP_DarkOliveGreen { background-color:#556B2F;}
.CP_MediumAquaMarine { background-color:#66CDAA;}
.CP_DarkSeaGreen { background-color:#8FBC8F;}
.CP_LightSeaGreen { background-color:#20B2AA;}
.CP_DarkCyan { background-color:#008B8B;}
.CP_Teal { background-color:#008080;}
.CP_Aqua { background-color:#00FFFF;}
.CP_Cyan { background-color:#00FFFF;}
.CP_LightCyan { background-color:#E0FFFF;}
.CP_PaleTurquoise { background-color:#AFEEEE;}
.CP_Aquamarine { background-color:#7FFFD4;}
.CP_Turquoise { background-color:#40E0D0;}
.CP_MediumTurquoise { background-color:#48D1CC;}
.CP_DarkTurquoise { background-color:#00CED1;}
.CP_CadetBlue { background-color:#5F9EA0;}
.CP_SteelBlue { background-color:#4682B4;}
.CP_LightSteelBlue { background-color:#B0C4DE;}
.CP_LightBlue { background-color:#ADD8E6;}
.CP_PowderBlue { background-color:#B0E0E6;}
.CP_LightSkyBlue { background-color:#87CEFA;}
.CP_SkyBlue { background-color:#87CEEB;}
.CP_CornflowerBlue { background-color:#6495ED;}
.CP_DeepSkyBlue { background-color:#00BFFF;}
.CP_DodgerBlue { background-color:#1E90FF;}
.CP_RoyalBlue { background-color:#4169E1;}
.CP_Blue { background-color:#0000FF;}
.CP_MediumBlue { background-color:#0000CD;}
.CP_DarkBlue { background-color:#00008B;}
.CP_Navy { background-color:#000080;}
.CP_MidnightBlue { background-color:#191970;}
.CP_Cornsilk { background-color:#FFF8DC;}
.CP_BlanchedAlmond { background-color:#FFEBCD;}
.CP_Bisque { background-color:#FFE4C4;}
.CP_NavajoWhite { background-color:#FFDEAD;}
.CP_Wheat { background-color:#F5DEB3;}
.CP_BurlyWood { background-color:#DEB887;}
.CP_Tan { background-color:#D2B48C;}
.CP_RosyBrown { background-color:#BC8F8F;}
.CP_SandyBrown { background-color:#F4A460;}
.CP_GoldenRod { background-color:#DAA520;}
.CP_DarkGoldenRod { background-color:#B8860B;}
.CP_Peru { background-color:#CD853F;}
.CP_Chocolate { background-color:#D2691E;}
.CP_Olive { background-color:#808000;}
.CP_SaddleBrown { background-color:#8B4513;}
.CP_Sienna { background-color:#A0522D;}
.CP_Brown { background-color:#A52A2A;}
.CP_Maroon { background-color:#800000;}
.CP_White { background-color:#FFFFFF;}
.CP_Snow { background-color:#FFFAFA;}
.CP_HoneyDew { background-color:#F0FFF0;}
.CP_MintCream { background-color:#F5FFFA;}
.CP_Azure { background-color:#F0FFFF;}
.CP_AliceBlue { background-color:#F0F8FF;}
.CP_GhostWhite { background-color:#F8F8FF;}
.CP_WhiteSmoke { background-color:#F5F5F5;}
.CP_SeaShell { background-color:#FFF5EE;}
.CP_Beige { background-color:#F5F5DC;}
.CP_OldLace { background-color:#FDF5E6;}
.CP_FloralWhite { background-color:#FFFAF0;}
.CP_Ivory { background-color:#FFFFF0;}
.CP_AntiqueWhite { background-color:#FAEBD7;}
.CP_Linen { background-color:#FAF0E6;}
.CP_LavenderBlush { background-color:#FFF0F5;}
.CP_MistyRose { background-color:#FFE4E1;}
.CP_Gainsboro { background-color:#DCDCDC;}
.CP_LightGray { background-color:#D3D3D3;}
.CP_Silver { background-color:#C0C0C0;}
.CP_DarkGray { background-color:#A9A9A9;}
.CP_DimGray { background-color:#696969;}
.CP_Gray { background-color:#808080;}
.CP_LightSlateGray { background-color:#778899;}
.CP_SlateGray { background-color:#708090;}
.CP_DarkSlateGray { background-color:#2F4F4F;}
.CP_Black { background-color:#000000;}
